body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: blue;
}

h2 {
    color: rgb(255, 255, 255);
    background-color: chocolate;
}